* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to right, #57e32c, #b0f442);
    color: white;
    height: 100px;
}

.logo img {
    width: 400px;
    max-height: 100%;
    object-fit: contain;
}

.navbar .nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #adadad;
}

.main-content {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #57e32c;
    padding: 1rem;
}

.sidebar-button {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    transition: background 0.3s ease;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.product {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    width: 250px;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.product p {
    color: #777;
}

.product:hover {
    transform: scale(1.05);
}

.footer img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.footer img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}